* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 20px 35px;
  background-color: rgb(223, 238, 250);
  width: 100%;
}

nav {
  width: 100%;
  text-align: right;
  padding: 10px 10px;
}

header h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #808fa5;
  margin: 0;
  display: inline;
}

header a {
  color: #989898;
  text-decoration: none;
}

header nav {
  margin: 15px 0;
  float: right;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  margin: 0 40px;
  font-weight: lighter;
  font-size: 15px;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(238, 236, 236);
}

footer {
  background: rgb(223, 238, 250);
  width: 100%;
  padding: 10px;
  text-align: center;
}
