* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  height: 40px;
  position: relative;
  height: fit-content;
  width: 50%;
  right: auto;
  left: auto;
  padding: 0 10px;
}

nav {
  width: 100%;
  text-align: right;
  padding: 10px 10px;
}

header h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: rgb(146, 149, 151);
  margin: 0;
  display: inline;
}

header a {
  color: rgb(146, 149, 151);
  text-decoration: none;
}

header nav {
  margin: 10px 0;
  float: right;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  font-weight: lighter;
  margin: 18px;
}

header h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(146, 149, 151);
  padding: 7px;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

footer {
  background: rgb(5, 79, 142);
  width: 100%;
  padding: 10px;
  text-align: center;
}
footer h3 {
  color: #fcfcfa;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.hero {
  background-image: url("../images/therightsolution.jpg");
  height: 720px;
  position: relative;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.form {
  display: block;
  text-align: center;
  bottom: 0px;
}

form {
  background-color: #fcfcfa;
  text-align: center;
  padding: 20px;
  display: inline-block;
  color: rgb(146, 149, 151);
  border-style: solid;
  border-width: 5px;
  border-color: rgb(146, 149, 151);
  right: auto;
  left: auto;
  width: 50%;
}

.navbar {
  padding: 25px;
}

iframe {
  display: inline-block;
  padding: 10px;
}

.map {
  padding: 10px 50px;
}

img {
  padding: 30px 0px;
  height: 600px;
  position: static;
  height: fit-content;
  width: 100%;
}

p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 25px;
  text-align: justify;
  padding: 5px 30px;
  background-color: rgb(216, 213, 213);
}
.contact {
  width: 410px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 30px 0 0 60px;
  color: rgb(146, 149, 151);
  font-size: 25px;
}
